* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--roboto);
}

:root {
  /* Colors */
  --green-400: #06181c;
  --green-100: #4a808c;
  --green-200: #065e7c;
  --green-300: #092d38;
  --green-500: #06181c;
  --green-500-o-50: #06161b;
  --green-500-O50: #06161b80;
  --white: #ffffff;
  --black: #000000;
  --red: #f75a68;
  --Aliases-Placeholder: #7c7c8a;

  /*Font*/
  --roboto: Roboto, sans-serif;
}

body {
  background: var(--black);
  font-family: var(--roboto);
  color: var(--white);

  height: 100dvh;
}

main {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6.0625rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18.3125rem;

  margin-top: 7.1875rem;
}

.username-search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.username-input {
  color: var(--Aliases-Placeholder);
  padding: 16px;
  gap: 8px;
  width: 17rem;
  background: var(--green-400);
  border: transparent;
  border-radius: 5px;
}

.button-favorite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 32px;
  gap: 8px;

  background: var(--green-200);
  border-radius: 5px;

  border: transparent;

  color: var(--white);
  font-weight: 700;
}

.button-favorite:hover {
  filter: brightness(140%);
  cursor: pointer;
}

.username-input :placeholder-shown {
  width: 100%;
}

table {
  border-top-left-radius: 1rem;
  border-collapse: collapse;
  border-radius: 5rem;
  border: 1px solid var(--green-100);
}

table img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

table button {
  color: var(--red);
  cursor: pointer;
  background: none;
  text-transform: uppercase;
  border: none;
  font-size: 1rem;
}

table * {
  color: var(--white);
}

table th {
  text-align: left;
  padding-left: 2.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: var(--green-300);
}

table th:first-child {
  border-top-left-radius: 0.4rem;
}

table th:last-child {
  border-top-right-radius: 0.4rem;
}

table tr:nth-child(even) {
  background: var(--green-500);
  border-top: 0.0625rem solid var(--green-100);
}

table tr:nth-child(odd) {
  background: var(--green-500-O50);
}

table td {
  padding: 2.5rem;
}

.user {
  display: flex;
  align-items: center;
  padding: 24px 40px;
  gap: 1rem;
}

td.user a {
  text-decoration: none;
}

.profile-image {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.remove {
  color: var(--red);
  cursor: pointer;
}
